.container {
  display: flex;
  margin: 8px 0;
}

.deleteItem {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.datePickerItem {
  flex: 0 1 148px;
  margin: 0 3px;
}

.numberItem {
  flex: 0 0 39px;
  margin: 0 3px;
}

.selectItem {
  flex: 0 1 90px;
  margin: 0 3px;
}

.label {
  flex: 0 0 18px;
  font-size: 15px;
  padding-top: 5px;
  font-weight: 100;
}

.modifyDatePicker {
  input {
    padding-left: 2px;
  }
}

.modifyTextInput {
  padding-left: 2px;
  padding-right: 2px;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  color: #272728;
}

.modifySelect {
  > :first-child {
    height: 30px;
    > input {
      margin-left: 2px;
    }
    > span {
      margin-right: 2px;
    }
  }
}
