.header{
    padding: .5em;
    display:flex;
   
   
}
.title{
    margin-left: 35%;
   

}
.icon{
    color: #1890ff;
    font-size: 32px;
    display:inline;
    margin-left: 1%;
   
}
.button{
    margin-left: 10%;

}
.buttonExport{
    margin-left: 300px;
    
 

}
.icon2{
    color:  #1890ff;
    font-size: 100px;
   margin-right: 60%;
   margin-left: 40%;
   
}