.btn_wrapper {
  display: flex;
  //justify-content: center;
  position: absolute;
  right: 300px;
  margin: auto;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  line-height: 1;
}

.btn_elm {
  margin-right: 40px;
}

.centredBtns {
  display: flex;
  justify-content: center;

  &:first-child {
    margin-right: 40px;
  }
}

