.content{
    display: flex;
}
.card{
    width: 700px ;
    margin-left: 20%;
}
.title{
 
    margin-left: 40%;
}
.icon{
    color: #1890ff;
    font-size: 20px;
   margin-right: 20%;
   margin-left: 10px;
   
}
.field {
    width: 100%;
    margin-bottom: 20px;
  
    &:last-child {
      margin-bottom: 20px;
    }
  }
  
.label {
    position: relative;
    .ant-form-item-label {
      white-space: normal;
    }
    }
.createButton{
      
      margin-left: 20%;
  }
   
   