.content{
    display: flex;
}
.card{
    width: 700px ;
    margin-left: 20%;
}
.title{
 
    margin-left: 40%;
}
.icon{
    color: red;
    font-size: 20px;
   margin-right: 20%;
   margin-left: 100px;
   
}
.icon1{
    color: #1890ff;
    font-size: 20px;
   margin-right: 20%;
   margin-left: 100px;
   
}
.field {
    width: 100%;
    margin-bottom: 20px;
  
    &:last-child {
      margin-bottom: 20px;
    }
  }
  
.label {
    position: relative;
    .ant-form-item-label {
      white-space: normal;
    }
    }
.createButton{
      
      margin-left: 20%;
  }
.action{
    padding: .5em;
    //display:flex;
   
   
}
.inputWrapper {
  display: flex;
  justify-content: space-between;

  & > div {
    flex: 1;
    margin-right: 1px;
  }

  & > span {
    margin: auto;
  }
}
   
   