.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  > :first-child {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

.conclusionBox {
  flex: 1 1 auto;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 12px 44px rgba(0, 0, 0, 0.0743886);
}

.conclusionBox1 {
  flex: 1 1 auto;
  width: 100%;
}

.labelStyle {
  margin-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #c40b24;
  text-decoration: underline;
}

.header {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadee3;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 15px;
  box-sizing: border-box;

  > :first-child {
    margin-right: 10px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #c40b24;

    > :nth-child(even) {
      padding-right: 4px;
    }
  }
  > p {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #000000;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.action {
  margin-bottom: 8px;
  text-align: center;
}
