.container {
  display: block;
  flex: 1 1 100%;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 12px 44px rgba(0, 0, 0, 0.0743886);

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.header {
  display: flex;
  height: 49px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dadee3;
  font-size: 14px;
}

.content {
  box-sizing: border-box;
  position: relative;
  padding: 15px 2px 40px;
}

.plusHolder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  width: 30px;
  height: 30px;
}
