.textWrapper {
  padding: 5px 24px 5px 12px;
}

.editableTextWrapper {
  padding: 5px 24px 5px 12px;
  cursor: pointer;
}

.editableTextWrapper:hover {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}