.wrapper {
  width: 80%;
  display: inline-block;
  overflow: auto;
  height: calc(100% - 82px);
}
.header {
  margin: 40px;
  background: #fff;
  line-height: 1.5715;
  height: 40px;
  position: relative;
  border-radius: 4px;
  text-align: right;
}

.btn {
  position: absolute;
  right: 10px;
  margin: auto;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  line-height: 1;
}
.search_box {
  width: 50%;
  position: relative;
  height: 30px;
  line-height: 1;
}
.model {
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
}
.site_card_wrapper {
  padding: 40px;
}

.checkboxallwrapper {
  border-bottom: 1px solid #e9e9e9;
}

.input_wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 30px;
}
.btn_edit {
  // width: 40%;
  margin-left: 40%;
  margin-right: 50%;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.field {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
