.container {
  position: relative;
  width: 100%;
  //height: calc(100vh - 60px);
  border-radius: 5px;
  background: rgba(251, 251, 251, 0.54);
  min-height: 200px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.topHeader {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: flex-start;

  > :first-child {
    padding-right: 20px;
  }
}

.backButton {
  display: flex;
  align-items: center;
  height: 30px;
  text-decoration: none;
  color: white;

  > span {
    padding-left: 10px;
    text-decoration: underline;
    font-size: 1.1rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.exportButton {
  flex: 0 1 auto;
}

.title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > h4 {
    margin-right: 10px;
    color: white;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 3px;
      z-index: -1;
      background: linear-gradient(0.79deg, #8d0417 5.72%, #d3354a 96.63%);
    }
  }

  span {
    box-sizing: border-box;
    line-height: 1;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1.5px solid #DC3935;
    justify-content: center;
    align-items: center;
    color: #DC3935;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.mainContent {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.rightSide {
  flex: 1 1 200px;
}
