.sider {
  z-index: 1000;
  background: #2d3446;
}

.logo {
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 10px 10px;
  text-align: center;
  overflow: hidden;
}

.sideMenu {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
  background: transparent !important;

  a {
    text-decoration: none;
    font-weight: 400;
  }

  .ant-menu-item {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    //padding: 0 24px;
    margin: 0;
    color: #ffffff;

    & > span > a {
      color: #ffffff;
      &:hover {
        color: #1890ff;
      }
    }
  }
  .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span:hover {
    color: #1890ff;
  }

  .anticon {
    font-size: 18px;
    margin-right: 5px;
    color: inherit;
  }

  .nav-text {
    font-size: 14px;
    color: inherit;
    font-weight: 400;
  }

  .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, 0.4) !important;

    .anticon {
      color: #fff;
    }

    i {
      color: #fff;
    }

    .nav-text {
      color: #fff;
    }
  }

  > li {
    &:hover {
      i,
      .nav-text {
        color: #ffffff;
      }
    }
  }
}
