.icon{
    color: #1890ff;
    font-size: 20px;
   margin-right: 5%;
   margin-left: 10px;
   
}
.icon2{
    color: #1890ff;
    font-size: 20px;
   margin-left: 3%;
   
}
.icon3{
    color:  #1890ff;
    font-size: 40px;
   margin-right: 55%;
   margin-left: 45%;
   
}