.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  font-size: 1rem;
  background: #ffffff;
  border-radius: 5px;
}

.item {
  display: flex;
  margin: 0 8px;
  align-items: center;
}

.text {
  color: #838383;
  padding-left: 8px;
}

.hashtag {
  color: #838383;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
