.header{
    padding: .5em;
    display:flex;
   
   
}
.title{
    margin-left: 30%;
   

}
.icon{
    color: #1890ff;
    font-size: 32px;
    display:inline;
    margin-left: 1%;
   
}
.card{
    width: 700px ;
    margin-left: 20%;
}
.icon2{
    color: #1890ff;
    font-size: 100px;
   margin-right: 60%;
   margin-left: 40%;
   
}
