.icon{
  color: #1890ff;
  font-size: 20px;
  margin-right: 5%;
  margin-left: 10px;

}
.icon2{
  color: #1890ff;
  font-size: 20px;
  margin-left: 3%;

}
.icon3{
  color:  #1890ff;
  font-size: 40px;
  margin-right: 55%;
  margin-left: 45%;

}

.item1{
  margin-right: 5%;
  margin-left: 10px;
}
.tabName{
  font-weight: bold;
  font-size: 14px;
}
.subtabName{
  font-size: 12px;
  font-weight: 640;

}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.permissionLabel {
  width: 125px;
}
