.checkboxListNoSubTabs .ant-checkbox + span {
    font-size: 11px;
}
.checkboxListNoSubTabs{
    display: flex;
}

.checkboxList{
    margin: 0;
    display: flex ;
    align-items: center;
}
.checkboxList .ant-checkbox + span{
    font-size: 11px;
}

.checkboxList .ant-form-item{
    font-size: 12px;
}

.permissions-space > .ant-space-item{
    width: 100%;
    margin-right: 8px;
    flex: 25%
}

.permissions-space > .ant-space-item:first-child{
    width: 100%;
    margin-right: 8px;
    flex: 75%
}

.permission_add_label .ant-form-item-label > label {
    width: 62px;
}
.labelCheckboxEdit .ant-form-item-label > label {
    font-size: 12px;
    font-weight: 640;
}

.permission_add_label.edit {
    margin-bottom: 0;
    margin-top: 10px;
}

.labelCheckboxEdit .ant-form-item-label {
    width: 125px;
    text-align: left;
}

.labelCheckboxEdit {
    margin-left: 65px;
    height: 20px;
}

.labelCheckboxEdit .ant-checkbox + span{
    font-size: 11px;
}

.labelCheckboxEdit .ant-form-item {
    margin-bottom: 0px;
}