.userMenuDropDown {
  padding: 7px 0;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  flex-shrink: 0;
  border-radius: 5px;
}

.userMenuLink {
  font-size: 13px;
  color: #595959;
  line-height: 1.1;
  padding: 7px 15px;
  background-color: transparent;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
.headerWrapper {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 31px 0 240px;
  z-index: 1000;
}

.collapsed {
  padding: 0 31px 0 109px;
}

.btn {
  align-items: center;
  display: inline-flex;
}
.logoutBtn {
  position: fixed;
  right: 30px;
  top: 5px;
  font-size: 30px;
  color: #8d0417;
}
.collapsedBtn {
  align-items: center;
  display: inline-flex;
  padding: 0 31px 0 109px;
}
.field {
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
